<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="container">

      <h1>Gema Bootstrap</h1>
      <p>Aplicando estilos con bootstrap</p>

      <div class="row">
        <h1>Glyphicons</h1>
        <h1><span class="glyphicon glyphicon-scissors" ></span> Scissors</h1>
        <h3><span class="glyphicon glyphicon-queen" ></span> Queen</h3>
        <h5><span class="glyphicon glyphicon-hourglass" ></span> hourglass</h5>
        <span class="glyphicon glyphicon-search" ></span>
        <span class="glyphicon glyphicon-scissors" ></span>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            Ingrese un email valido
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
      </button>

      <button type="button" class="btn btn-default" aria-label="Left Align">
        <h8><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></h8>
      </button>

      <div class="row">
        <h1>Listas deplegables</h1>

        <div class="row">
          <div class="col-md-2">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Boton Desplegable
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Acción 1</a></li>
                <li><a href="#">Acción 2</a></li>
                <li><a href="#">Acción 3</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Enlace separado</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-2">
            <div class="dropup">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Despliegue Arriba
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a href="#">Acción 1</a></li>
                <li><a href="#">Acción 2</a></li>
                <li><a href="#">Acción 3</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Enlace separado</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-2">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Encabezados
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                <li class="dropdown-header">Encabezado 1</li>
                <li><a href="#">Acción 1</a></li>
                <li><a href="#">Acción 2</a></li>
                <li class="dropdown-header">Encabezado 2</li>
                <li><a href="#">Acción 3</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-2">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Enlaces deshabilitados
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                <li><a href="#">Accion 1</a></li>
                <li class="disabled"><a href="#">Accion 2</a></li>
                <li><a href="#">Another 3</a></li>
              </ul>
            </div>
          </div>
      </div>

      <div class="row">
        <h1>Pozo</h1>
        <div class="well">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Fusce pellentesque, ex at aliquet suscipit, nulla diam pulvinar velit,
          eu auctor mauris nisl sed ex. Morbi lacinia est quis ante pellentesque, eget pulvinar felis sodales.
          Ut vel justo risus. Donec sed nunc eget sapien blandit sodales id eget ante.
        </div>


      </div>
    </div>


    <div class="container">
      <h1>Manejo de la Grilla</h1>
      <!-- Stack the columns on mobile by making one full-width and the other half-width -->
      <div class="row">
        <div class="col-xs-12 col-md-8"><div class="well">.col-xs-12 .col-md-8</div></div>
        <div class="col-xs-6 col-md-4"><div class="well">.col-xs-6 .col-md-4</div></div></div>
      </div>

      <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
      <div class="row">
        <div class="col-xs-6 col-md-4"><div class="well">.col-xs-6 .col-md-4</div></div>
        <div class="col-xs-6 col-md-4"><div class="well">.col-xs-6 .col-md-4</div></div>
        <div class="col-xs-6 col-md-4"><div class="well">.col-xs-6 .col-md-4</div></div>
      </div>

      <!-- Columns are always 50% wide, on mobile and desktop -->
      <div class="row">
        <div class="col-xs-6"><div class="well">.col-xs-6</div></div>
        <div class="col-xs-6"><div class="well">.col-xs-6</div></div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8"><div class="well">.col-xs-12 .col-sm-6 .col-md-8</div></div>
        <div class="col-xs-6 col-md-4"><div class="well">.col-xs-6 .col-md-4</div></div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-4"><div class="well">.col-xs-6 .col-sm-4</div></div>
        <div class="col-xs-6 col-sm-4"><div class="well">.col-xs-6 .col-sm-4</div></div>
        <div class="col-xs-6 col-sm-4"><div class="well">.col-xs-6 .col-sm-4</div></div>
      </div>

      <h1>Desplazamiento de columnas</h1>
      <div class="row">
        <div class="col-md-4"><div class="well">.col-md-4</div></div>
        <div class="col-md-4 col-md-offset-4"><div class="well">.col-md-4 .col-md-offset-4</div></div>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-3"><div class="well">.col-md-3 .col-md-offset-3</div></div>
        <div class="col-md-3 col-md-offset-3"><div class="well">.col-md-3 .col-md-offset-3</div></div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3"><div class="well">.col-md-6 .col-md-offset-3</div></div>
      </div>

      <h1>Columnas anidadas</h1>
      <div class="row">
        <div class="col-sm-9"><div class="well">
          Level 1: .col-sm-9
          <div class="row">
            <div class="col-xs-8 col-sm-6"><div class="well">
              Level 2: .col-xs-8 .col-sm-6
            </div></div>
            <div class="col-xs-4 col-sm-6"><div class="well">
              Level 2: .col-xs-4 .col-sm-6
            </div></div>
          </div>
        </div></div>
      </div>

      <div class="row">
        <div class="col-md-10">
          <div class="well">parte externa
            <div class="row">
              <div class="col-xs-2 col-sm-6">
                <div class="well">
                  parte interna 1
                </div>
              </div>
              <div class="col-xs-10 col-sm-6">
                <div class="well">
                  parte interna 2
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<% content_for :footr do %>
  <div class="container">
    <div class="text-center">
      <%= image_tag "porkey.jpg", {height: 200} %>
      <h3> ¡¡Muchas Gracias!! </h3>
    </div>
  </div>

<% end %>
